@model IEnumerable<RestaurantData.Models.Restaurant>
<table>
    <thead>
        <tr> Name</tr>
        <tr> City</tr>
    </thead>
    @foreach (var res in Model)
    {

       <tr style="border:2px solid black">
            <td>
                @res.Name
            </td>
            <td> @res.City</td>
            <td>@res.AvgRating</td>
           </tr>
           

        
            }


    </table>
